{% extends 'userbase.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="text-center mb-4">Change Password</h2>
            
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <form method="POST">
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Current Password</label>
                            <input type="password" name="current_password" id="current_password" class="form-control" required>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" name="new_password" id="new_password" class="form-control" aria-describedby="passwordHelp" required>

                            <div id="passwordHelp" class="form-text">
                              Must be at least 8 characters and include uppercase, lowercase, a number, and a special character.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                        </div>
                        <div class="mt-4 d-grid gap-2 d-sm-flex justify-content-sm-end">
                            <a href="{{ url_for('user.profile') }}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}